
.page {
    width: 100%;
    height: 100vh;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
  }
  
  .flexWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }